<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand firm-title" href="#">Shingare Trading Company</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="configApi.setData('');configApi.toPrintBill(false);" routerLink="/customers"
          [routerLinkActive]="'active'">Customer List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="configApi.setData('');configApi.toPrintBill(false);" routerLink="/buy-soyabean"
          [routerLinkActive]="'active'">Buy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="configApi.setData('');configApi.toPrintBill(false);" routerLink="/sell-soyabean"
          [routerLinkActive]="'active'">Sell</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="configApi.setData('');configApi.toPrintBill(false);" routerLink="/sell-list"
          [routerLinkActive]="'active'">Selling List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="configApi.setData('');configApi.toPrintBill(false);" routerLink="/settings"
          [routerLinkActive]="'active'">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="configApi.setData('');configApi.toPrintBill(false);" routerLink="/stock"
          [routerLinkActive]="'active'">Stock</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <span class="nav-link mr-2 center-name">{{centerName}}</span>

      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownMenuButton"
              ngbDropdownToggle>{{currentUserName}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
              <!-- <button ngbDropdownItem>{{userFullName}}</button> -->
              <button ngbDropdownItem (click)="logout()">Logout</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</nav>