.footer-content {
  margin-top: 30px;
  padding: 10px 0;
  color: #9d9d9d;
  background: #fbfafa;
  border-top: 2px solid #f3f2f1;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.9rem;
}
