<div class="container-fluid mb-5">
  <h3 class="ptb-15 mb-0">Sell Invoices</h3>
  <form class="pb-20">
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="billNumber">Bill No</label>
        <input type="text" class="form-control" [(ngModel)]="billNumber" name="billNumber"
          placeholder="Bill Number">
      </div>
      <div class="form-group col-md-3">
        <label for="fromDate1">From Date</label>
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
          [(ngModel)]="fromdDate" ngbDatepicker #f="ngbDatepicker" readonly>
        <button type="button" class="btn btn-default calendar_icon" (click)="f.toggle()">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </button>
      </div>
      <div class="form-group col-md-3">
        <label for="toDate">To Date</label>
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
          [(ngModel)]="toDate" ngbDatepicker #t="ngbDatepicker" readonly>
        <button type="button" class="btn btn-default calendar_icon" (click)="t.toggle()">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </button>
      </div>
      <div class="form-group col-md-4">
        <label for="customerName">Invoice To Name</label>
        <input type="text" class="form-control" name="customerName" placeholder="Name"
          [(ngModel)]="customerName">
      </div>
    </div>
    <div class="text-right">
      <button type="button" title="Download Data in Excel" (click)="downloadDataExcel()"
        class="btn btn-primary mr-10"><i class="fa fa-download" aria-hidden="true"></i>
      </button>
      <button type="button" routerLink="/sell-soyabean" (click)="configApi.setData('')"
        class="btn btn-primary mr-10">Add
        New Entry</button>
      <button type="submit" (click)="getCustomerList()" class="btn btn-primary mr-10"
        disabled>Search</button>
      <button type="button" class="btn btn-primary" (click)="clearSelection($event)"
        disabled>Clear</button>
    </div>
  </form>
  <div class="customerGrid">
    <table class="table table-striped customer-list">
      <thead>
        <tr>
          <th style="width: 20px;">#Bill</th>
          <th style="width: 75px;">Date</th>
          <th style="width: 110px;">Vehicle No.</th>
          <th style="width: 200px;">Invoice To</th>
          <th>Total Bags</th>
          <th>Rate <span class="currency">&#8377;</span></th>
          <th>Weight</th>
          <!-- <th>Cutting</th> -->
          <!-- <th>Net Weight</th> -->
          <th>GST <span class="currency">&#8377;</span></th>
          <th>Amount <span class="currency">&#8377;</span></th>
          <th>Grand Amount <span class="currency">&#8377;</span></th>
          <th class="text-center">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of customerData | slice: (customerDataPage-1) * customerDataPageSize : (customerDataPage-1) * customerDataPageSize + customerDataPageSize">
          <td>{{item.id}}</td>
          <td>{{item.date}}</td>
          <td>{{item.vehicleNumber}}</td>
          <td style="font-weight: 600;">{{item.customerName}}</td>
          <td>{{item.totalBags}}</td>
          <!-- <td>{{item.moisture}}</td> -->
          <td>{{item.standardRate}}</td>
          <!-- <td>{{item.calculatedRate}}</td> -->
          <td>{{item.totalWeight}}</td>
          <!-- <td>{{item.weightCutting}}</td> -->
          <!-- <td>{{item.weightExtraCuting}}</td> -->
          <!-- <td>{{item.netWeight}}</td> -->
          <td>{{item.calculatedCgstRs+item.calculatedSgstRs}}</td>
          <td>{{item.totalAmount}}</td>
          <!-- <td>{{item.carryCharge}}</td> -->
          <td>{{item.grandTotal}}</td>
          <td class="text-center cursor-pointer" title="Edit">
            <i class="fa fa-pencil-square-o" aria-hidden="true"
              (click)="viewBill(item)"></i>
        </tr>
      </tbody>
    </table>
    <div class="text-right">
      <ngb-pagination *ngIf="customerData.length" [collectionSize]="customerData.length"
        [(page)]="customerDataPage" [maxSize]="5" [rotate]="true" [ellipses]="false"
        [boundaryLinks]="true">
      </ngb-pagination>
    </div>
  </div>
</div>