.moistureBox,
.rateBox {
  display: inline-block;
  width: 75px;
  margin: 0 5px 0 10px;
  // margin-right: 5px;
}
.padding-0 {
  padding: 0;
}
.rateBox {
  width: 112px;
}
.customerWrapper {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.totalBagBox {
  width: 80px;
}
.leftSide .label {
  min-width: 117px;
}
.rightSide .label {
  min-width: 63px;
}
.todayRateBox {
  display: inline-block;
  width: 150px;
  margin-left: 10px;
}
.customerWrapper {
  clear: both;
}
.rateBoxWrapper {
  padding: 12px 0;
}
.bagWeightWrapper {
  ul {
    padding-left: 0;
  }
}
.weightItem {
  list-style: none;
  margin: 0 5px 5px 0;
  display: inline-block;
}
.weightItem input {
  display: inline-block;
  width: 50px;
  padding: 5px;
}
// .weightBox,
// .amountBox {
//   display: inline-block;
//   max-width: 100px;
//   margin-left: 5px;
// }
.final-amount {
  width: 120px;
  background: #fff;
  display: inline-block;
  border: none;
  text-align: right;
}
.signSpace {
  width: 100%;
  border-top: 1px solid #000;
  margin-top: 20px;
}
.firmWrapper {
  padding: 10px 0;
}
.totalWeightWrapper .form-group {
  width: 50%;
  display: inline-block;
}
.form-control:disabled,
.form-control[readonly] {
  background: #fff;
}
.cal-btn {
  position: absolute;
  bottom: 15px;
  right: 10px;
}
.bank-details span {
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 5px;
}
.text-capital {
  text-transform: capitalize;
}
.invoice-content {
  .left-side {
    h6,
    input {
      display: inline-block;
    }
    h6 {
      width: 20%;
    }
    input {
      width: 78%;
      padding-top: 0;
      padding-bottom: 0;
      height: 33px;
      font-size: 0.93rem;
    }
  }
}
.custom-input {
  width: 78%;
  padding-top: 0;
  padding-bottom: 0;
  height: 33px;
  font-size: 0.93rem;
}
.inv-mid {
  p {
    margin-bottom: 11px;
  }
}
@page {
  bleed: 1cm;
  size: A4 portrait;
  size: auto; /* auto is the initial value */
  margin-bottom: 50pt;
  margin-top: 0cm;
  font-size: 12pt;

  #content,
  #page {
    width: 100%;
    margin: 0;
    float: none;
  }
}

@media print {
  .print-heading-sell {
    font-size: 1.39rem;
  }
  .page {
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }

  table {
    page-break-inside: auto;
  }

  tr.last-row {
    background-color: #555 !important;
  }

  tr.last-row > th,
  tr.last-row > td {
    background-color: unset !important;
  }

  div.page-break {
    page-break-before: auto;
  }
}

.gray {
  color: #333;
}

.gray-ish {
  color: #666;
}

.almost-gray {
  color: #999;
}

body {
  background-color: #eee;
  padding-top: 25px;
  -webkit-print-color-adjust: exact !important;
  height: 100%;
  margin-top: 40px;
}

div.container {
  background-color: white;
  border-radius: 10px;
  height: 100%;
  position: relative;
}

div.invoice-header {
  background-color: #444;
  color: white;
  // border-bottom: 3px solid rgb(255, 77, 77);
}

div.invoice-header > div > p {
  font-size: 1.2rem;
  font-weight: 350;
}

div.invoice-header > div > h1 {
  font-size: 4rem;
}

div.invoice-table {
  border-top: 3px solid rgb(255, 77, 77);
}

div.invoice-table > table.table > thead,
div.invoice-table > table.table > thead.thead > tr,
div.invoice-table > table.table > thead.thead > tr > th {
  border-top: none;
}

div.total-field {
  position: relative;
}

h5.due-date {
  position: absolute;
  bottom: 10px;
  right: 15px;
}

div.sub-table {
  border-left: 3px solid rgb(255, 77, 77);
  padding-left: 0;
}

div.sub-table > table {
  padding-bottom: 0;
  margin-bottom: 0;
}

tr.last-row {
  margin-top: 25px;
  background-color: #555;
  color: white;
  border-top: 3px solid rgb(255, 77, 77);
}

p.footer {
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding-top: 15px;
  border-top: 3px solid red;
}
.splitForPrint th {
  font-weight: 500;
}
.ht-50 {
  height: 50px;
}
