.moistureBox,
.rateBox {
  display: inline-block;
  width: 75px;
  margin: 0 5px 0 10px;
  // margin-right: 5px;
}
.rateBox {
  width: 90px;
  background: #fff;
}
.customerWrapper {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.customerNameBox,
.totalBagBox {
  display: inline-block;
  width: 70%;
  margin-left: 10px;
}
.totalBagBox {
  width: 130px;
}
.todayRateBox {
  display: inline-block;
  width: 110px;
  margin-left: 10px;
  background: #fff;
}
.customerWrapper {
  clear: both;
}
.rateBoxWrapper {
  padding: 12px 0;
}
.bagWeightWrapper {
  ul {
    padding-left: 0;
  }
}
.weightItem {
  list-style: none;
  margin: 0 5px 5px 0;
  display: inline-block;
}
.weightItem input {
  display: inline-block;
  width: 40px;
  padding: 0 5px;
  height: 30px;
}
.weightBox,
.amountBox {
  display: inline-block;
  max-width: 200px;
  margin-left: 5px;
  background: #fff;
}
.signSpace {
  text-transform: capitalize;
}
.firmWrapper {
  padding: 10px 0;
  h3 {
    letter-spacing: 0.95px;
    font-weight: 700;
  }
}
.totalWeightWrapper .form-group {
  width: 50%;
  display: inline-block;
}
.totalWeightWrapper {
  .weightBox {
    max-width: 150px;
  }
}
.form-control {
  font-size: 0.93rem;
}
