<div class="container">
  <form>
    <div class="firmWrapper text-center">
      <h3>SHINGARE TRADING COMPANY</h3>
      <p style="margin: 0;">A/p: Kasegaon, Tal: Walwa, Dist: Sangli. (Maharashtra) Mob. +91 9423272768</p>
      <p>GSTIN: 27BRRPS4398J1ZO | PAN: BRRPS4398J</p>
    </div>
    <!-- <div class="invoiceType text-center">
      <p>Soyabean Invoice</p>
    </div> -->
    <div>
      <div class="rateBoxWrapper float-left">
        <label for="todayDate">Date: </label>
        <span> {{todaysDate}}</span>
        <label for="billId" class="label ml-10">Bill No: </label>
        <input type="text" readonly class="form-control todayRateBox" name="billId"
          [(ngModel)]="billNumber" readonly>
      </div>
      <div class="rateBoxWrapper float-right">
        <label for="todayRateBoxId" class="label">Standard Rate: </label>
        <input type="text" class="form-control todayRateBox" name="todayRateBoxId"
          placeholder="Today Rate" [(ngModel)]="standardRate" disabled>
      </div>
    </div>
    <div class="row customerWrapper form-group">
      <div class="col-md-5 plr-0">
        <label for="customerName" class="label print-label">Customer Name</label>
        <input type="text" [(ngModel)]="customerName"
          class="form-control customerNameBox custName-print" name="customerName"
          placeholder="Customer Name" [ngClass]="{'error-field': isCustomerNameValid}"
          (change)="isCustomerNameValid=false;isAllFieldsCalculated=true;">
      </div>
      <div class="col-md-2 p-0">
        <label for="moistureName" class="label print-label">Moisture</label>
        <input type="text" [(ngModel)]="moisture"
          (change)="onMoistureChange($event, moisture);isMoistureValid=false;isAllFieldsCalculated=true;"
          name="moistureName" class="form-control moistureBox moistBox-print"
          placeholder="Moisture" [ngClass]="{'error-field': isMoistureValid}">
        <!-- required maxlength="5" minlength="2" #moistureName="ngModel" [ngClass]="{'error-field': moistureName.invalid && (moistureName.dirty || moistureName.touched)}" -->
        <label>%</label>
        <!-- <span *ngIf="moistureName.invalid && (moistureName.dirty || moistureName.touched)"
          class="alert-danger">
          <div *ngIf="moistureName.errors.required" class="error-message">
            Moisture is required.
          </div>
          <div *ngIf="moistureName.errors.maxlength" class="error-message">
            Moisture cannot be more than 5 characters long.
          </div>
          <div *ngIf="moistureName.errors.minlength" class="error-message">
            Moisture must be greater than 10.
          </div>
        </span> -->
      </div>
      <div class="col-md-2 plr-0">
        <label for="calculatedRate" class="label print-label">Rate</label>
        <input type="text" [(ngModel)]="calculatedRate" class="form-control rateBox"
          name="calculatedRate" placeholder="Rate" disabled>
      </div>
      <div class="col-md-3 text-right">
        <label for="totalBagsName" class="label print-label">Total Bags</label>
        <input type="text" [(ngModel)]="totalBags" numbersOnly
          (change)="onTotalBagsChange($event, totalBags);isTotalBagsValid=false;isAllFieldsCalculated=true;"
          class="form-control totalBagBox" name="totalBagsName" placeholder="Total Bags"
          [ngClass]="{'error-field': isTotalBagsValid}">
        <!-- onTotalBagsChange($event, totalBags); -->
        <!-- required maxlength="3" minlength="1" #totalBagsName="ngModel" [ngClass]="{'error-field': totalBagsName.invalid && (totalBagsName.dirty || totalBagsName.touched)}" -->
        <!-- <span
          *ngIf="totalBagsName.invalid && (totalBagsName.dirty || totalBagsName.touched)"
          class="alert-danger">
          <div *ngIf="totalBagsName.errors.required" class="error-message">
            Field is required.
          </div>
          <div *ngIf="totalBagsName.errors.minlength" class="error-message">
            Field cannot be more than 3 characters long.
          </div>
          <div *ngIf="totalBagsName.errors.minlength" class="error-message">
            Field must be at least 1 characters long.
          </div>
        </span> -->
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-5 bagWeightWrapper plr-0">
        <ul>
          <li *ngFor="let data of bagWeightList; let eleIndex=index" class="weightItem">
            <input type="text" [(ngModel)]="data.weight" value="" class="form-control"
              (change)="onBagWeightChange($event, data);isAllFieldsCalculated=true;"
              name="product-{{data.id}}" numbersOnly maxlength="3"
              [ngClass]="{'error-field': !data.weight}">
          </li>
        </ul>
      </div>
      <div class="col-md-4 plr-0">
        <div>
          <div class="form-group">
            <label style="min-width:93px;">Total Amount:</label>
            <input type="text" [(ngModel)]="totalAmount" name="totalAmount"
              class="form-control weightBox amountBox text-right ml-20-no-print" disabled>
          </div>
          <div class="form-group">
            <label style="min-width:100px;">Carry Charge:</label>
            <input type="text" [(ngModel)]="carryCharge"
              (change)="isAllFieldsCalculated=true;" name="carryCharge"
              class="form-control weightBox amountBox text-right" disabled>
          </div>
          <div class="form-group">
            <label for="netPayAmountName" style="min-width:100px;">Net Amount:</label>
            <input type="text" [(ngModel)]="netPayAmount" name="netPayAmountName"
              class="form-control weightBox amountBox text-right" disabled>
          </div>
          <div class="form-group">
            <label for="cashPaymentName" style="min-width:100px;">Cash:</label>
            <input type="text" [(ngModel)]="cashPayment"
              (change)="cashPaymentChange($event, cashPayment);isCashPaymentValid=false;isAllFieldsCalculated=true;" name="cashPaymentName"
              class="form-control weightBox amountBox text-right" [ngClass]="{'error-field': isCashPaymentValid}" numbersOnly>
          </div>
          <div class="form-group">
            <label for="chequeAmountName" style="min-width:100px;">Cheque Amt:</label>
            <input type="text" [(ngModel)]="chequeAmount" name="chequeAmountName"
              class="form-control weightBox amountBox text-right" disabled>
          </div>
        </div>
      </div>
      <div class="col-md-3 plr-0">
        <div class="form-group">
          <label for="commentsOnBill">Comments</label>
          <textarea class="form-control" [(ngModel)]="commentsOnBill"
            name="commentsOnBill" rows="2"></textarea>
        </div>
        <div class="form-group text-right print-hide-ele">
          <button type="button" class="btn btn-primary" (click)="calculateBill()"
            title="Calculate">Calculate</button>
        </div>
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" [(ngModel)]="isChequePayment"
              (change)="isAllFieldsCalculated=true;"
              class="custom-control-input print-hide-ele" id="isChequePaymentSwitch"
              name="isChequePaymentSwitchName" disabled>
            <label class="custom-control-label" for="isChequePaymentSwitch">Cheque
              Payment</label>
          </div>
        </div>
        <div *ngIf="isChequePayment">
          <label for="chequeNumberBoxName">Cheque Number</label>
          <input type="text" [(ngModel)]="chequeNumberBox"
            (change)="isChequeNumberBox=false;"
            [ngClass]="{'error-field': isChequeNumberBox}" name="chequeNumberBoxName"
            class="form-control" placeholder="Cheque Number">
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-7 totalWeightWrapper">
        <div class="form-group">
          <label>Total Weight:</label>
          <input type="text" [(ngModel)]="totalWeight" name="totalWeight"
            class="form-control weightBox" value="{{totalWeight}}" style="margin-left: 9px;" readonly>
        </div>
        <div class="form-group">
          <label style="min-width:93px;">Cutting:</label>
          <input type="text" [(ngModel)]="weightCutting" name="weightCutting"
            class="form-control weightBox" disabled>
        </div>
        <div class="form-group">
          <label style="min-width:93px;">Extra Cutting:</label>
          <!-- (change)="calculateNettWeight($event)" -->
          <input type="text" [(ngModel)]="weightExtraCuting"
            (change)="isAllFieldsCalculated=true;" name="weightExtraCuting"
            class="form-control weightBox" numbersOnly>
        </div>
        <div class="form-group">
          <label style="min-width:93px;">Net Weight:</label>
          <input type="text" [(ngModel)]="netWeight" name="netWeight"
            class="form-control weightBox" disabled>
        </div>
      </div>
      <div class="col-md-5 px-0">
        <div class="form-group">
          <label for="signature">Invoice Value (In words) </label>
          <div class="signSpace">{{amountInWords(netPayAmount)}}</div>
        </div>
        <div class="button-wrapper text-right print-hide-ele">
          <button type="button" (click)="printBill();" class="btn btn-primary"
            title="Print"><i class="fa fa-print" aria-hidden="true"></i>
          </button>
          <button type="button" (click)="submitCalculatedForm($event)"
            class="btn btn-primary" style="margin-left: 10px;"
            title="Submit">Submit</button>
          <button type="button" (click)="cancelForm()" class="btn btn-primary"
            style="margin-left: 10px;" title="Cancel">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>