/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
.mr-10 {
  margin-right: 10px;
}
.calendar_icon {
  margin-top: -4px;
  position: absolute;
  right: 4px;
  top: 36px;
}
.ptb-15 {
  padding: 15px 0;
}
.pb-20 {
  padding-bottom: 20px;
}
.error-field {
  border: 2px solid red;
}
.error-message {
  font-size: 13px;
  margin-top: 4px;
}
.cursor-pointer {
  cursor: pointer;
}
.customer-list {
  th {
    font-weight: 500;
  }
}
