/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
.mr-10 {
  margin-right: 10px;
}
.calendar_icon {
  margin-top: -4px;
  position: absolute;
  right: 4px;
  top: 36px;
}
.ptb-15 {
  padding: 15px 0;
}
.pb-20 {
  padding-bottom: 20px;
}
.ml-10 {
  margin-left: 10px;
}
.error-field {
  border: 2px solid #dc3545;
}
.error-message {
  font-size: 13px;
  margin-top: 4px;
}
.cursor-pointer {
  cursor: pointer;
}
.customer-list {
  th {
    font-weight: 500;
  }
}
.m-0-a {
  margin: 0 auto;
}
.inline-block {
  display: inline-block;
}
.custom-inline-input {
  display: inline-block;
  width: 80%;
  margin-left: 7px;
}
@media print {
  .noprint {
    visibility: hidden;
  }
  .print-hide-ele {
    display: none;
  }
  .plr-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .custName-print {
    width: 65%;
  }
  .moistBox-print {
    width: 65px;
  }
  .print-label {
    font-size: 0.8rem;
  }
  body {
    font-size: 0.9rem;
  }
  .form-control {
    font-size: 0.8rem;
  }
  .ml-20-no-print {
    margin-left: 10px;
  }
  .borderless-box {
    border: none;
    border-bottom: 1px solid #999;
    border-radius: 0;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #000;
  }
  .invoice-header, tr.last-row {
    p, h4 {
      color: #000;
    }
  }
  div.invoice-header p {
    font-size: 16px !important;
  }
  .footer-content {
    display: none !important;
  }
  .mb-print {
    margin-bottom: 0 !important;
  }
}
