<div class="container mb-5" style="height:92%;">
  <div class="h-100 d-flex justify-content-center align-items-center">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Featured
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a routerLink="/buy-soyabean" [routerLinkActive]="'active'">Buying Soya</a>
        </li>
        <li class="list-group-item">
          <a routerLink="/sell-soyabean"
            [routerLinkActive]="'active'">Sell Soya</a>
        </li>
        <li class="list-group-item">
          <a routerLink="/settings"
            [routerLinkActive]="'active'">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</div>